<h1>PyCity Schools Analysis</h1>
<p>This analysis looked at how school size, type, and budget affect student success in math and reading.</p>
<h3>Key Takeaways</h3>
    <ul>
        <li>Students in big schools don’t do as well in math and reading compared to those in smaller schools. Big schools might struggle because it’s harder to give individual attention to so many students.</li>
        <li>Students in charter schools generally do better in math and reading than those in district schools. Charter schools seem to be better at helping students succeed.</li>
        <li>Charter schools get better results with less money. The top five best-performing schools spend less than $1.4 million, while the five worst-performing schools spend more than $1.8 million. This means charter schools might use their money more efficiently.</li>
    </ul>
<h3>Conclusion:</h3>
    <p>Small schools and charter schools tend to have better student performance. Charter schools are especially good at getting results with less money.</p>

<hr>

In [2]:
#import libraries
import pandas as pd
from pathlib import Path
import warnings
warnings.simplefilter(action='ignore')

#csv paths
student_csv = Path('../Resources/students_complete.csv')
schools_csv = Path('../Resources/schools_complete.csv')

#initialize dataframes
student_df = pd.read_csv(student_csv)
school_df = pd.read_csv(schools_csv)

#merge dataframes
complete_df = pd.merge(student_df, school_df, how='left', on = ['school_name', 'school_name'])

<h2> District Summary </h2>

<h4>District Snapshot Variables</h4>

In [3]:
#total number of unique schools
total_schools = len(complete_df['school_name'].unique())

#total students
total_students = complete_df['Student ID'].count()

#total budget
total_budget = school_df['budget'].sum()

#average math score
avg_math_score = complete_df['math_score'].mean()

#average reading score
avg_read_score = complete_df['reading_score'].mean()

#students passing math
numb_pass_math = complete_df[complete_df['math_score'] >= 70].count()['student_name']

percent_passing_math = numb_pass_math / float(total_students) * 100


#passing reading
num_pass_read = complete_df[complete_df['reading_score'] >= 70].count()['student_name']

percent_passing_read = num_pass_read / float(total_students) * 100

#passing reading and math
num_passing_both = complete_df[(complete_df['math_score'] >= 70) & (complete_df['reading_score'] >= 70)].count()['student_name']

percent_passing_both = num_passing_both / float(total_students) * 100

<h4>District Snapshot</h4>

In [4]:
#setup dictionary with values calculated above


district_summary = {'Total # of Unique Schools':total_schools,
                    'Total Students':total_students,
                    'Total Budget': total_budget,
                    'Average Math Score':avg_math_score,
                    'Average Reading Score' : avg_read_score,
                    '% Passing Math':percent_passing_math,
                    '% Passing Reading':percent_passing_read,
                    '% Overall Passing':percent_passing_both
                    }


district_summary_df = pd.DataFrame(district_summary, index=[0])

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df.head()

,Total # of Unique Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

<h1>School Summary</h1>

<h4>School Snapshot Variables</h4>

In [5]:
#group by dataframe
grouped_schools_df = complete_df.groupby('school_name')

#type of school
school_type = school_df.set_index(['school_name'])['type']

#total amount of students per school
total_school_students = grouped_schools_df['Student ID'].count()

#total school budget per school
total_school_budget = school_df.set_index(['school_name'])['budget']

#budget per student
per_student_budget = total_school_budget / total_school_students


#average math score
avg_school_math_score = grouped_schools_df['math_score'].mean()

#average reading score
avg_school_read_score = grouped_schools_df['reading_score'].mean()


#get count of students passing
school_passing_math = complete_df[complete_df['math_score'] >= 70].groupby(['school_name'])['Student ID'].count()
school_passing_reading = complete_df[complete_df['reading_score'] >= 70].groupby(['school_name'])['Student ID'].count()

#calculate percentage passing
percent_school_pass_math = school_passing_math / total_school_students * 100
percent_school_pass_read = school_passing_reading / total_school_students * 100

#overall passing count
overall_school_passing = complete_df[(complete_df['reading_score'] >= 70) & (complete_df['math_score'] >= 70)].groupby(['school_name'])['Student ID'].count()

#calculate percentage of overall passing students
perecent_school_overall_passing = overall_school_passing / total_school_students * 100

<h4>School Snapshot</h4>

In [6]:
#put the series above into a new dataframe
school_summary_df = pd.DataFrame({
    'School Type':school_type,
    'Total Students':total_school_students,
    'Total School Budget':total_school_budget,
    'Per Student Budget' : per_student_budget,
    'Average Math Score':avg_school_math_score,
    'Average Reading Score':avg_school_read_score,
    '% Passing Math': percent_school_pass_math,
    '% Passing Reading': percent_school_pass_read,
    '% Overall Passing Rate': perecent_school_overall_passing
})

#format
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)

#show results
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

<h4>Highest Performing Schools (By % Overall Passing)</h4>

In [9]:
#sort from highest to lowest
top_schools_df = school_summary_df.sort_values('% Overall Passing Rate', ascending=False)

top_schools_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

<h4>Bottom Performing Schools (By % Overall Passing)</h4>

In [10]:
#sort from lowest to highest
bottom_schools_df = school_summary_df.sort_values('% Overall Passing Rate', ascending=True)

bottom_schools_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

<h4>Math Scores by Grade</h4>

In [11]:
#calculates the average score for meath broken down by grade.
ninth_grade_math_scores = complete_df[(complete_df["grade"] == "9th")].groupby(['school_name'])['math_score'].mean()
tenth_grader_math_scores = complete_df[(complete_df["grade"] == "10th")].groupby(['school_name'])['math_score'].mean()
eleventh_grader_math_scores = complete_df[(complete_df["grade"] == "11th")].groupby(['school_name'])['math_score'].mean()
twelfth_grader_math_scores = complete_df[(complete_df["grade"] == "12th")].groupby(['school_name'])['math_score'].mean()

#put into new dataframe
math_score_by_grade_df = pd.DataFrame({
    '9th': ninth_grade_math_scores,
    '10th':tenth_grader_math_scores,
    '11th':eleventh_grader_math_scores,
    '12th':twelfth_grader_math_scores
})

#show results
math_score_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

<h4>Reading Score by Grade</h4>

In [12]:
#calculates the average score for reading broken down by grade.
ninth_grade_reading_scores = complete_df[(complete_df["grade"] == "9th")].groupby(['school_name'])['reading_score'].mean()
tenth_grader_reading_scores = complete_df[(complete_df["grade"] == "10th")].groupby(['school_name'])['reading_score'].mean()
eleventh_grader_reading_scores = complete_df[(complete_df["grade"] == "11th")].groupby(['school_name'])['reading_score'].mean()
twelfth_grader_reading_scores = complete_df[(complete_df["grade"] == "12th")].groupby(['school_name'])['reading_score'].mean()

#put into a new dataframe
reading_score_by_grade_df = pd.DataFrame({
    '9th': ninth_grade_reading_scores,
    '10th':tenth_grader_reading_scores,
    '11th':eleventh_grader_reading_scores,
    '12th':twelfth_grader_reading_scores
})

#show results
reading_score_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

<h4>Scores by School Spending</h4>

In [13]:
#bins & labels provided from started code
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

#copy the school summary dataframe to a new dataframe
school_spending_df = school_summary_df.copy()

#replace the $ with an empty space
school_spending_df['Per Student Budget'] = school_spending_df['Per Student Budget'].str.replace('$','')

#convert to float
school_spending_df = school_spending_df.astype({"Per Student Budget": float}, errors='raise')

#place into bins
school_spending_df['Spending Ranges (Per Student)'] = pd.cut(school_spending_df['Per Student Budget'], spending_bins, labels=labels)

#show results
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

<h4>Spending Summary</h4>

In [14]:
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
spending_passing_overall = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing Rate"].mean()


spending_summary_df = pd.DataFrame({
    'Average Math Score':spending_math_scores,
    'Average Reading Score':spending_reading_scores,
    '% Passing Math': spending_passing_math,
    '% Passing Reading':spending_passing_reading,
    '% Overall Passing':spending_passing_overall
})


spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

<h4>Scores by School Size</h4>

In [15]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_summary_df['School Size'] = pd.cut(school_summary_df['Total Students'], bins=size_bins, labels=labels)


school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

<h4> School Size Averages </h4>

In [16]:
size_math_scores = school_summary_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_summary_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_summary_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_summary_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_summary_df.groupby(["School Size"])["% Overall Passing Rate"].mean()


size_summary_df = pd.DataFrame({
    'Average Math Score':size_math_scores,
    'Average Reading Score':size_reading_scores,
    '% Passing Math': size_passing_math,
    '% Passing Reading':size_passing_reading,
    '% Overall Passing':size_overall_passing
})

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [17]:
average_math_score_by_type = school_summary_df.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = school_summary_df.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = school_summary_df.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = school_summary_df.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = school_summary_df.groupby(["School Type"])["% Overall Passing Rate"].mean()

type_summary_df = pd.DataFrame({
    'Average Math Score':average_math_score_by_type,
    'Average Reading Score':average_reading_score_by_type,
    '% Passing Math': average_percent_passing_math_by_type,
    '% Passing Reading':average_percent_passing_reading_by_type,
    '% Overall Passing':average_percent_overall_passing_by_type
})

type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208